[project]
name = "test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11,<3.13"
dependencies = [
    "bacpipe>=1.2.0",
    "ipykernel>=7.1.0",
    "soundfile>=0.12.1",
]
